<script type='text/javascript'>
  $(document).ready(function(){
    $("#network_filter_form > form > select").on('change',function(evt){
      document.location.href = "/networks/"+$("#network_id").val()+(this.id == 'network_id' ? "" : "?"+this.id+"="+this.value);
    });
  });
</script>
<div id='network_filter_form'>
<%= form_tag("/networks", :method => 'get') do -%>
Subnet: <%= collection_select(:network, :id, @networks, :id, :cidr_and_description) %>
Building: <%= collection_select(:building, :id, Building.all, :id, :name, {:prompt=>"All Buildings", :selected => @building_id}) %>
Network: <%= select_tag("network_class_b",options_for_select(Network.uniq_class_b), {:prompt=>"All Class B's", :selected => @class_b}) %>
<% end -%>
</div>

<div id="network_info_area">
    <ul>
        <li><b>Subnet: </b><%= @network.cidr_full %></li>
        <li><b>Mask: </b><%= @network.mask %></li>
        <li><b>Gateway: </b><%= @network.gateway %></li>
        <li><b>DHCP: </b><%= @network.dhcp_server.nil? ? 'Unknown' : @network.dhcp_server.name %></li>
        <li><b>VLAN: </b><%= @network.vlan.nil? ? 'Unknown' : @network.vlan.to_s %></li>
        <li><b>Building: </b><%= @network.buildings.pluck(:name).join(', ') %></li>
    </ul>
    <%= link_to("Edit", edit_network_url(@network.id)) %>
</div>
<br />
<table>
<tr>
    <th>IP</th>
    <th>Description</th>
    <th>Type</th>
    <th>Last Updated</th>
    <th>Edit</th>
</tr>
<% @network.devices.all.each do |device| %>
    <tr>
        <td><%= device.ip %></td>
        <td><%= device.description %></td>
        <td><%= device.type.nil? ? "" : device.type.name %></td>
        <td><%= device.updated_at.strftime("%Y/%m/%d") %></td>
        <td><%= link_to "Edit", edit_device_path(device) %></td>
    </tr>
<% end %>
</table>
