<script type='text/javascript'>
  $(document).ready(function(){
    $("#network_id").change(function(evt){
      window.location.href = "/networks/"+this.value;
    });
  });
</script>
<div>
<%= form_tag("/networks", :method => 'get') %>
Subnet: <%= collection_select('network','id',Network.all, :id, :cidr_and_description) %>
Building: <%= collection_select('building','id',Building.all,:id,:name) %>
Network:
</div>


<div id="network_info_area">
    <ul>
        <li><b>Subnet: </b><%= @network.cidr_full %></li>
        <li><b>Mask: </b><%= @network.mask %></li>
        <li><b>Gateway: </b><%= @network.gateway %></li>
        <li><b>DHCP: </b><%= 'Unknown' %></li>
        <li><b>VLAN: </b><%= 'Unknown' %></li>
        <li><b>Building: </b><%= @network.buildings.pluck(:name).join(', ') %></li>
    </ul>
    <%= link_to("Edit", edit_network_url(@network.id)) %>
</div>
<br />
<table>
<tr>
    <th>IP</th>
    <th>Description</th>
    <th>Type</th>
    <th>Last Updated</th>
    <th>Edit</th>
</tr>
<% @network.devices.all.each do |device| %>
    <tr>
        <td><%= device.ip %></td>
        <td><%= device.description %></td>
        <td><%= device.type.name %></td>
        <td><%= device.updated_at.strftime("%Y/%m/%d") %></td>
        <td><%= link_to "Edit", edit_device_path(device) %></td>
    </tr>
<% end %>
</table>
