<!DOCTYPE html>
<html>
<head>
  <title>Arts and Sciences IP Manager</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='container'>
<nav>
  <ul>
  <li><%= link_to("Home", root_path) %></li>
  <li><%= link_to("Options", current_user.nil? ? '' : edit_user_path(current_user)) %></li>
  <li><%= link_to("Activity Log", activities_path) %></li>
  <li><%= link_to("Export", networks_path+'.xls') %></li>
  <li><%= link_to("Admin", admin_path) %></li>
  <li>
    <%=
    if Rails.env.production? || Rails.env.staging?
      link_to 'Logout', logout_path
    else
      link_to 'Logout', user_session_path, :method => :destroy
    end
    %>
  </li>
  </ul>
</nav>
<br>
<%= yield %>

</body>
</html>
