<!DOCTYPE html>
<html>
<head>
  <title>Arts and Sciences IP Manager</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='container'>
<nav>
  <ul>
  <li><%= link_to("Home", networks_url) %></li>
  <li>Network Mgmt</li>
  <li>Admin</li>
  <li>Logout</li>
  </ul>
</nav>
<br>
<%= yield %>

</body>
</html>
