<!DOCTYPE html>
<html>
<head>
  <title>Arts and Sciences IP Manager</title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='container'>
<nav>
  <ul>
  <li><%= link_to("Home", networks_url+"/"+Network.first.id.to_s) %></li>
  <li><%= link_to("Options", '/options/') %></li>
  <li><%= link_to("Admin", '/admin/') %></li>
  <li>
    <%=
    if Rails.env.production? || Rails.env.staging?
      link_to 'Logout', logout_path
    else
      link_to 'Logout', user_session_path, :method => :destroy
    end
    %>
  </li>
  </ul>
</nav>
<br>
<%= yield %>

</body>
</html>
